
:root{
    /* FONT SIZES */
    --p-size: 3vh;
    --h3-size: 4vh;
    --big: 5vh;
    
}


main{
    padding-top: 6rem;
    background: white;
}
.start{   
    width: 100%;   
    padding: 2rem;
    background: url("../Images/research.jpg");
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    background-position: center bottom;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.1);
    text-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: var(--big);
    text-align: center;
    margin: 1rem 0;
}

.research{
    text-align: center;
    margin: 2rem 1rem;
}


.research h2, .research p{
    color: rgb(0,68,91);
}

.research h2{
    font-size: var(--h3-size);
}

.research p{
    font-size: var(--p-size);
}


.r-offers{
    height: fit-content;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../Images/re.jpeg");
    background-repeat: no-repeat;    
    background-size: cover;
    position: relative;
}

.r-offers::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 2;
    text-align: center;
}


.container-item{
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: 1rem 0;
}

.container-item h3, .container-item i{
    font-size: var(--h3-size);
    color: rgb(192,166,98);
    margin-bottom: 0.5rem;
}

.container-item p{
    font-size: var(--p-size);
}

@media screen and (max-width: 576px){
    :root{
    /* FONT SIZES */
        --p-size: 1rem;
        --h3-size: 1.5rem;
        --big: 1.7rem;    
    }
    .container-item{
        flex-basis: 100%;
    }
}
